/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Font */
* {
  font-family: Arial, Helvetica, sans-serif;  
}
.bold {
    font-weight: bold;
}


/* Colors */
.bg-red {
    background: #d32f2f;
}
.white {
    color: #fff;
}

/* Alignment, Sizing */
.center {
    margin: 0 auto !important;
}
.mt-2 {
  margin-top: 1rem;  
}

.pt-1 {
    padding-top: .5rem;  
}
  

/* Components */
.navbar {
    padding-top: 1em;
    padding-bottom: 1em;
}

.profile-pic {
    border-radius: 200%;
    width: 36px;
    height: 36px;
}